PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_NAME=orchestapp
DB_USER=postgres
DB_PASSWORD=your_password

JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=8h

GOOGLE_CLIENT_ID=your_google_oauth_client_id.apps.googleusercontent.com

CORS_ORIGIN=http://localhost:4200

# Aiven / PostgreSQL en la nube (SSL obligatorio)
DB_SSL=true
